@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

[data-mantine-color-scheme="dark"] .bn-editor {
  background-color: var(--mantine-color-dark-7);
  color: white;
}

.bn-editor pre {
  border-radius: 5px;
  padding: 10px;
}
