@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.editor-input {
  border: 1px solid var(--mantine-color-default-border);
  border-radius: 4px;
}

.yoopta-action-menu-list-content svg,
.yoopta-block-options-menu-content svg,
button {
  color: black;
}

.yoopta-file span,
svg {
  color: var(--mantine-color-text);
}
