@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bn-container {
  border: 1px solid var(--mantine-color-default-border);
  border-radius: 5px;
}

[data-mantine-color-scheme="light"] .bn-render .shiki {
  background-color: var(--mantine-color-gray-0) !important;
}

[data-mantine-color-scheme="dark"] .bn-render .shiki {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

[data-mantine-color-scheme="dark"] .bn-render span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

.bn-render code {
  background-color: transparent;
}
